* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: #676767;
  --tersiary-color: white;
  --btn-color: #ed017f;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-5 {
  width: calc(5 * 8.33%);
  padding: 0 15px;
}

.col-6 {
  width: calc(6 * 8.33%);
  padding: 0 15px;
}

.col-3 {
  width: calc(3 * 8.33%);
  padding: 0 15px;
}

.col-7 {
  width: calc(7 * 8.33%);
  padding: 0 15px;
}

.col-20 {
  width: 20%;
  padding: 0 15px;
}

.title1 {
  font-size: 57px;
  font-weight: 900;
  font-family: "Metropolis", sans-serif;
  line-height: 1.1;
}

.title4 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Metropolis", sans-serif;
}

/* Header-section */

.hdr-sec {
  padding: 21px 0;
}

.nav-logo>a {
  width: 175px;
}

.nav-logo>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav,
.div-navbar,
.div-navbar>ul {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

.div-navbar>ul {
  margin: 0 auto;
}

.div-navbar {
  flex-grow: 1;
}

.nav-links {
  color: var(--primary-color);
  margin-right: 41.6px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Metropolis", sans-serif;
}

.nav-items :hover {
  color: var(--btn-color);
}

.nav-btn {
  align-items: center;
  display: flex;
}

.nav-btn>a>img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.srch-icon {
  margin-right: 27px;
}

.primary-btn {
  background: var(--btn-color);
  padding: 18px 29.64px;
  color: var(--tersiary-color);
  border-radius: 4px;
  font-family: "Metroplis", Sans-serif;
}

.primary-btn:hover {
  background: #cd267f;
}

/* Banner-section */

.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.banner-row {
  align-items: center;
}

.img-content {
  max-width: 932.96px;
  position: relative;
}

.img-content::after {
  content: " ";
  position: absolute;
  height: 71px;
  width: 191.57px;
  border-radius: 55px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
  left: 77px;
  top: 0;
  background: url("../Assets/carloan.png") no-repeat center/contain;
}

.img-content::before {
  content: " ";
  position: absolute;
  height: 71px;
  width: 191.57px;
  border-radius: 55px;
  box-shadow: 4px 4px 58px rgba(0, 0, 0, 12%);
  right: 82px;
  top: 112px;
  background: url("../Assets/homeloan.png") no-repeat center/contain;
}

.img-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-content>.title1 {
  max-width: 435px;
}

.banner-content>p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  color: var(--secondary-color);
  margin: 23px 0 38px;
  max-width: 391.74;
}

.banner-btn-2 {
  padding: 18px 29.64px;
  color: var(--btn-color);
  border-radius: 4px;
  border: 1px solid var(--btn-color);
  font-family: "Metroplis", Sans-serif;
}

.banner-btn-2 {
  margin-left: 20px;
}

.banner-btn-2:hover {
  background: var(--btn-color);
  color: var(--tersiary-color);
}

.social-icons {
  margin-top: 51px;
}

.call-icon {
  margin-right: 22.09px;
}

.call-icon>a {
  color: black;
  font-family: "Metroplis", Sans-serif;
}

.call-icon>a>img {
  margin-right: 11px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.social-icons>ul>li {
  margin-right: 16px;
}

.social-icons>ul,
.call-icon>a {
  display: flex;
  align-items: center;
}

/* Customer-Experience-Sec */

.experience-Sec {
  padding: 50px 0;
}

.title2 {
  font-size: 36px;
  font-weight: 800;
  font-family: "Metropolis", sans-serif;
  text-align: center;
}

.experience-content>p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  color: var(--secondary-color);
  text-align: center;
  max-width: 622px;
  margin: 18px auto 78px;
}

.card {
  margin: 0 auto;
}

.card-img img {
  height: 37px;
  width: 37px;
  object-fit: contain;
}

.card-hding {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 700;
  font-family: "Metropolis", sans-serif;
  margin: 18px 0;
}

.card-hding>p {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  margin-top: 10px;
  max-width: 160px;
}

/* service-Section */

.service-section {
  background: #fef9fc;
  width: 100%;
  padding: 66px 0;
}

.service-content>p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  color: var(--secondary-color);
  margin: 18px 0 66px;
  text-align: center;
}

.card-2 {
  max-width: 254px;
  margin: 0 auto;
}

.card-img-2>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.srvc-p>p {
  font-size: 21px;
  font-weight: 600;
  font-family: "Metropolis", sans-serif;
  color: var(--primary-color);
  margin-top: 22px;
}

.srvc-p {
  display: flex;
}

.arrow>img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-top: 16.5px;
  margin-bottom: 16.5px;
  margin-left: 22px;
}

/* counter-sec */

.counter-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.counter-content>p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  color: var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 91px;
  text-align: center;
}

.counter-num {
  font-size: 40px;
  font-weight: 600;
  font-family: "Metropolis", sans-serif;
}

.counter-num p {
  margin-bottom: 8px;
}

.active {
  color: var(--btn-color);
}

.number>p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  color: var(--secondary-color);
  margin-bottom: 55px;
}

/* footer-sec */

.footer-sec {
  padding: 50px 0;
}

.footer-links {
  margin: 0 auto;
}

.footer-icons {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.footer-hdr {
  margin-bottom: 20px;
}

.footer-hdr+p {
  max-width: 180px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
  color: #676767;
}

.footer-sub-links {
  font-size: 14px;
  font-weight: 500;
  font-family: "Metropolis", sans-serif;
}

.footer-sub-links a {
  color: #676767;
  margin-bottom: 10px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.footer-social-icons>li {
  margin-right: 16px;
}

.call-icon>a>img {
  margin-right: 11px;
  display: flex;
  align-items: center;
}

.call-icon>img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {

  .col-5,
  .col-7 {
    width: 100%;
  }

  /* banner-sec */
  .banner-section .row {
    flex-wrap: wrap-reverse;
  }

  .img-content {
    margin-bottom: 15px;
  }

  .img-content::after,
  .img-content::before {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 992px) {
  .col-3 {
    width: 50%;
  }

  /* header-sec */
  .div-navbar {
    display: none;
  }

  .menu {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .col-3 {
    width: 50%;
  }

  .title1 {
    font-size: 30px;
    font-weight: 900;
    font-family: "Metropolis", sans-serif;
    line-height: 1.1;
  }

  .title2 {
    font-size: 25px;
    font-weight: 800;
    font-family: "Metropolis", sans-serif;
    text-align: center;
  }

  /* banner-sec */
  .img-content::after {
    left: -43px;
  }

  .img-content::before {
    right: -33px;
  }

  .img-content::after,
  .img-content::before {
    transform: scale(0.6);
  }

  .primary-btn {
    padding: 15px 20px;
  }

  .banner-btn-2 {
    padding: 15px 20px;
    margin-top: 20px;
    margin-left: 10px;
  }

  /* }service-sec */
  .service-section .col-3 {
    width: 100%;
  }

  .card-img-2 {
    max-width: 256px;
  }

  .srvc-p>p {
    margin-top: 10px;
  }

  /* counter-sec */
  .counter-sec {
    padding: 50px 0;
  }

  .counter-num {
    font-size: 30px;
    font-weight: 600;
    font-family: "Metropolis", sans-serif;
    margin-bottom: 8px;
  }

  .card-2 {
    margin-bottom: 20px;
  }

  /* footer-sec */
  .col-20 {
    width: 50%;
  }

  .footer-sec {
    padding: 30px 0;
  }

  .footer-sec .row .col-20:nth-child(1) {
    width: 100%;
  }

  .footer-heading {
    margin-bottom: 20px;
  }

  .footer-hdr+p {
    font-size: 14px;
    font-weight: 500;
    font-family: "Metropolis", sans-serif;
    max-width: none;
    color: #676767;
  }

  .arrow>img {
    margin-top: 5px;
  }

  .footer-links {
    margin-bottom: 20px;
  }
}